<div class="container">
    <div class="row">
      <div class="col-12 col-md-8 text-center align-self-center">
        <img src="assets/imagenes/EntradaTablon.jpg" class="img-fluid">
        <h1 class="font-weight-bold mb-0">Añade tu creación al Blog!!!</h1>
      </div>
    </div>
  
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="entryForm">
              <div class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input formControlName="title" type="text" class="form-control" id="title" required>
              </div>
  
              <div class="mb-3">
                <label for="description" class="form-label">Descripción</label>
                <textarea formControlName="description" class="form-control" id="description"></textarea>
              </div>
  
              <button (click)="takePicture()" class="btn btn-primary" type="button">Subir Foto</button>
              <img [src]="imageData" alt="Foto seleccionada" *ngIf="imageData" class="img-fluid mt-3">
  
              <button (click)="submitForm()" class="btn btn-success mt-3" type="button">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  